<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Tracks</th>
      </tr>
      </thead>
      <tbody>
      @for (album of alben; track album.name) {
        <tr>
          <td>{{ album.id }}</td>
          <td>{{ album.name }}</td>
          <td><link >{{ album.track_url }}</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
