<td class="albumart">
  <img src="{{ getAlbumartUrl() }}" alt="{{ entity.albumartName }}" title="{{ entity.albumartName }}">
</td>
<td>{{ entity.name }}</td>
<td *ngFor="let cat of entityList.searchableEntities">
  @if (cat === Track) {
    <a (click)="entityList.navigateOtherEntityByThis(Track, entity)"
       class="btn-link"  title="{{ Track.namePlural }}">
      {{ Track.namePlural }}
    </a>
  } @else {
    <div *ngFor="let searchEntity of this.getSearchEntities(cat)">
      <a (click)="entityList.navigateOtherEntityByItself(cat, searchEntity)"
         title="Details für {{searchEntity.name}}">
        {{ searchEntity.name }}
      </a>
      <a (click)="entityList.navigateOtherEntityBy(Album, cat, searchEntity)"
         class="btn-link" title="{{ Album.namePlural}} für {{searchEntity.name}}">
        [&nbsp;{{ Album.namePlural }}&nbsp;]
      </a>
    </div>
  }
</td>
