<td class="albumart">
  <a (click)="navigateToDetails()" title="{{ entity.albumartName }}">
    <img src="{{ getAlbumartUrl() }}" alt="{{ entity.albumartName }}">
  </a>
</td>
<td class="name"><a (click)="entityList().openPopup(entity, $event)" title="Details">{{ entity.name }}</a></td>
<td *ngFor="let cat of entityList().searchableEntities">
  <a class="btn-link" (click)="entityList().navigateOtherEntityByThis(cat, entity)">
    {{ cat.namePlural }}
  </a>
</td>
<td>
  <div class="flex">
    <button class="btn btn-secondary" (click)="entityList().removeEntity(entity)">Löschen</button>
  </div>
</td>
