<div class="card my-5">
  <div class="card-header">
    <app-searchlist (searchText)="search($event)"></app-searchlist>
  </div>
  <div class="card-body">
    <h3>{{getTitle()}}</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      @for (komponist of komponisten; track komponist.name) {
      <tr>
        <td>{{ komponist.id }}</td>
        <td>{{ komponist.name }}</td>
      </tr>
      }
      </tbody>
    </table>
  </div>
</div>
