<app-searchfield selection="{{searchEntityName}}" (searchText)="searchForEntityByName($event)" (searchEntityName)="setSearchEntityName($event)"/>
<div class="card my-3">
  <div class="card-body small">
    <h4 class="card-title">{{title}}</h4>
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th *ngFor="let cat of searchableEntities" scope="col" class="text-center">
          {{ cat.namePlural }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ent of entities; trackBy: trackByItemId" class="align-middle">
        <td>{{ ent.id }}</td>
        <td>{{ ent.name }}</td>
        <td *ngFor="let cat of searchableEntities" class="text-center">
          @if (cat === Track) {
            <button class="btn btn-link"
                    title="{{ Track.getNumberDescription(ent.tracks?.length) }} für {{ent.name}}"
                    (click)="searchOtherEntityByThis(Track.entityName, ent)">
              {{ Track.getNumberDescription(ent.tracks?.length) }}
            </button>
          } @else {
          <div *ngFor="let searchEntity of getEntityList(ent, cat)">
            <a (click)="searchOtherEntityByItself(cat.entityName, searchEntity)"
               title="Details für {{searchEntity.name}}">
              {{ searchEntity.name }}
            </a>
            <a (click)="searchOtherEntityBy(Album.entityName, cat.entityName, searchEntity)"
               class="btn-link"
               title="{{ Album.namePlural}} für {{searchEntity.name}}">
              [&nbsp;{{ Album.namePlural }}&nbsp;]
            </a>
          </div>
          }
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
