<div class="card my-5">
  <div class="card-header">
    <app-searchlist (searchText)="search($event)"></app-searchlist>
  </div>
  <div class="card-body">
    <h3>{{getTitle()}}</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Tracks</th>
      </tr>
      </thead>
      <tbody>
      @for (album of entities; track album.id) {
        <tr>
          <td>{{ album.id }}</td>
          <td>{{ album.name }}</td>
          <td><a href="{{ album.track_url }}">&lt;Tracks&gt;</a></td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>
