<app-searchfield
  (searchText)="searchForName($event)"
></app-searchfield>
<div class="card my-3">
  <div class="card-body small">
    <h4 class="card-title">{{title}}</h4>
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">{{ Track.namePlural }}</th>
        <th *ngFor="let cat of searchableEntities" scope="col" class="text-center">
          {{ cat.namePlural }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ent of entities; trackBy: trackByItemId" class="align-middle">
        <td>{{ ent.id }}</td>
        <td>{{ ent.name }}</td>
        <td class="text-center">
          <button class="btn btn-link"
                  title="{{ Track.getNumberDescription(ent.tracks.length) }} für {{ent.name}}"
                  (click)="searchOtherEntityByThis(Track.entityName, ent)">
            {{ Track.getNumberDescription(ent.tracks.length) }}
          </button>
        </td>
        <td *ngFor="let cat of searchableEntities" class="text-center">
          <button class="btn btn-link"
                  title="{{ cat.namePlural}} für {{ent.name}}"
                  (click)="searchOtherEntityByThis(cat.entityName, ent)">
            {{ cat.namePlural }}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
