<app-searchfield
  (searchText)="searchForName($event)"
></app-searchfield>
<div class="card my-3">
  <div class="card-body small">
    <h3 class="card-title">{{title}}</h3>
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Album</th>
      </tr>
      </thead>
      <tbody>
        @for (ent of entities; track ent.name) {
          <tr>
            <td>{{ ent.id }}</td>
            <td>{{ ent.name }}</td>
            <td class="text-center"><a href="{{ ent.linkToAlben }}">Alben</a></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
