<div class="card my-5">
  <div class="card-header">
    <app-searchlist (searchText)="search($event)"></app-searchlist>
  </div>
  <div class="card-body small">
    <h3>{{getTitle()}}</h3>
    <table class="table table-bordered table-striped table-responsive-md">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
        @for (ent of entities; track ent.name) {
          <tr>
            <td>{{ ent.id }}</td>
            <td>{{ ent.name }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
