<app-searchfield
  (searchText)="searchForName($event)"
></app-searchfield>
<div class="card my-3">
  <div class="card-body small">
    <h3 class="card-title">{{title}}</h3>
    <table class="table table-bordered table-striped table-hover table-responsive-sm">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        @for (ent of searchableEntities; track ent.name) {
        <th scope="col" class="text-center">{{ ent.namePlural }}</th>
        }
      </tr>
      </thead>
      <tbody>
        @for (ent of entities; track ent.id) {
          <tr class="align-middle">
            <td>{{ ent.id }}</td>
            <td>{{ ent.name }}</td>
            @for (s of searchableEntities; track s.name) {
            <td class="text-center">
              <button class="btn btn-link"
                      (click)="searchOtherEntityByThis(s.name, ent.name, ent.id)">
                {{ s.namePlural }}
              </button>
            </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
