<app-searchfield (searchText)="searchForName($event)"></app-searchfield>
<div class="card my-3">
  <div class="card-body small">
    <h3 class="card-title">{{title}}</h3>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">{{ Album.namePlural }}</th>
        <th scope="col" class="text-center">{{ Komponist.namePlural }}</th>
        <th scope="col" class="text-center">{{ Interpret.namePlural }}</th>
        <th scope="col" class="text-center">{{ Werk.namePlural }}</th>
        <th scope="col" class="text-center">{{ Genre.namePlural }}</th>
        <th scope="col" class="text-center">Pfad</th>
        <th scope="col" class="text-center">Letzte Änd.</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of entities" class="align-middle">
          <td>{{ track.tracknumber }}</td>
          <td>{{ track.name }}</td>
          <td class="text-center">
            <button class="btn btn-link"
                    title="{{ Album.namePlural}} für Track"
                    (click)="searchOtherEntityByThis(Album.entityName, track)">
              {{ track.album?.name }}
            </button>
          </td>
          <td class="text-center">
            <button *ngIf="track.komponist" class="btn btn-link"
                    title="{{ Album.namePlural}} für {{track.komponist.name}}"
                    (click)="searchOtherEntityBy(Album.entityName, Komponist.entityName, track.komponist)">
              {{ track.komponist.name }}
              <a class="page-link"
                 title="Details für {{track.komponist.name}}"
                 (click)="searchOtherEntityByItself(Komponist.entityName, track.komponist)">
                (Details)
              </a>
            </button>
          </td>
          <td class="text-center">
            <button *ngFor="let i of track.interpreten" class="btn btn-link"
                    title="{{ Album.namePlural}} für {{i.name}}"
                    (click)="searchOtherEntityBy(Album.entityName, Interpret.entityName, i)">
              {{ i.name }}
              <a class="page-link"
                 title="Details für {{i.name}}"
                 (click)="searchOtherEntityByItself(Interpret.entityName, i)">
                (Details)
              </a>
            </button>
          </td>
          <td class="text-center">
            <button *ngIf="track.werk" class="btn btn-link"
                    title="{{ Album.namePlural}} für {{track.werk.name}}"
                    (click)="searchOtherEntityBy(Album.entityName, Werk.entityName, track.werk)">
              {{ track.werk.name }}
              <a class="page-link"
                 title="Details für {{track.werk.name}}"
                 (click)="searchOtherEntityByItself(Werk.entityName, track.werk)">
                (Details)
              </a>
            </button>
          </td>
          <td class="text-center">
            <button *ngFor="let g of track.genres" class="btn btn-link"
                    title="{{ Album.namePlural}} für {{g.name}}"
                    (click)="searchOtherEntityBy(Album.entityName, Genre.entityName, g)">
              {{ g.name }}
              <a class="page-link"
                 title="Details für {{g.name}}"
                 (click)="searchOtherEntityByItself(Genre.entityName, g)">
                (Details)
              </a>
            </button>
          </td>
          <td>{{ track.path }}</td>
          <td>{{ Track.getLastModificationSince(track) }}</td>
        </tr>
      </tbody>
    </table>
   </div>
</div>
