<app-searchfield (searchText)="searchForName($event)"></app-searchfield>
<div class="card my-3">
  <div class="card-body small">
    <h4 class="card-title">{{ title }}</h4>
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">{{ Album.namePlural }}</th>
        <th scope="col">{{ Komponist.namePlural }}</th>
        <th scope="col">{{ Interpret.namePlural }}</th>
        <th scope="col">{{ Werk.namePlural }}</th>
        <th scope="col">{{ Genre.namePlural }}</th>
        <th scope="col">Pfad</th>
        <th scope="col">Änd.</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of entities" class="align-middle">
        <td>{{ track.tracknumber }}</td>
        <td>{{ track.name }}</td>
        <td>
          <a (click)="searchOtherEntityByThis(Album.entityName, track)"
             title="{{Album.namePlural}} für Track">
            {{ track.album?.name }}
          </a>
        </td>
        <td>
          <div *ngIf="track.komponist">
            <a (click)="searchOtherEntityByItself(Komponist.entityName, track.komponist)"
               title="Details für {{track.komponist.name}}">
              {{ track.komponist.name }}
            </a>
            <a (click)="searchOtherEntityBy(Album.entityName, Komponist.entityName, track.komponist)"
               class="btn-link"
               title="{{ Album.namePlural}} für {{track.komponist.name}}">
              [&nbsp;{{ Album.namePlural }}&nbsp;]
            </a>
          </div>
        </td>
        <td>
          <div *ngFor="let i of track.interpreten">
            <a (click)="searchOtherEntityByItself(Interpret.entityName, i)"
              title="Details für {{i.name}}">
              {{ i.name }}
            </a>
            <a (click)="searchOtherEntityBy(Album.entityName, Interpret.entityName, i)"
               class="btn-link"
               title="{{ Album.namePlural}} für {{i.name}}">
              [&nbsp;{{ Album.namePlural }}&nbsp;]
            </a>
          </div>
        </td>
        <td>
          <div *ngIf="track.werk">
            <a (click)="searchOtherEntityByItself(Werk.entityName, track.werk)"
               title="Details für {{track.werk.name}}">
              {{ track.werk.name }}
            </a>
            <a (click)="searchOtherEntityBy(Album.entityName, Werk.entityName, track.werk)"
               class="btn-link"
               title="{{ Album.namePlural }} für {{ track.werk.name }}">
              [&nbsp;{{ Album.namePlural }}&nbsp;]
            </a>
          </div>
        </td>
        <td>
          <div *ngFor="let g of track.genres">
            <a (click)="searchOtherEntityByItself(Genre.entityName, g)"
               title="Details für {{g.name}}">
              {{ g.name }}
            </a>
            <a (click)="searchOtherEntityBy(Album.entityName, Genre.entityName, g)"
               class="btn-link"
               title="{{ Album.namePlural}} für {{g.name}}">
              [&nbsp;{{ Album.namePlural }}&nbsp;]
            </a>
          </div>
        </td>
        <td>{{ track.path }}</td>
        <td>{{ Track.getLastModificationSince(track) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
