<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-3">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            @for (r of routes; track r.path) {
              @if (r.path) {
            <li class="list-inline-item">
              <a routerLink="{{ r.path }}" class="btn btn-outline-light" routerLinkActive="active" title="{{ r.title }}">{{ r.title }}</a>
            </li>
              }
            }
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
