<div class="container-fluid">
  <div class="card bg-dark py-1 my-1">
    <div class="card-body">
      <h2 class="card-title text-center text-white py-1">{{ title }}</h2>
      <ul class="text-center list-inline">
        <ng-container *ngFor="let r of routes">
          <li *ngIf="r.title" class="list-inline-item">
            <a class="btn btn-outline-light"
               routerLink="{{ r.path }}" routerLinkActive="active"
               title="{{ r.title }}">{{ r.title }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
