<app-searchfield [thisEntity]="entityType" [(searchEntity)]="searchEntityType" [(pageSize)]="pageSize"
                 [(searchString)]="searchName" [(filterString)]="filter"/>
<app-paging [entityList]="this"/>

<div class="card my-3">
  <app-list-header [title]="title" [lastSearchPerformance]="lastSearchPerformance"></app-list-header>
  <table class="card-body small table table-bordered table-striped table-hover table-sm my-0">
    <thead class="thead-dark">
      <tr *ngComponentOutlet="getTableHeaderComponent(); inputs: {'entityList': this}"></tr>
    </thead>
    <tbody>
    @for (entity of getEntities(); track entity.id) {
      @defer (on viewport) {
        <tr *ngComponentOutlet="getTableRowComponent(); inputs: {'entity': entity, 'entityList': this, 'hidden': isEntityFiltered(entity)}"></tr>
      } @placeholder (minimum 50ms) {
        <tr class="app-entity-row"><td colspan="99" class="placeholder">... loading ...</td></tr>
      }
    }
    </tbody>
  </table>
</div>

<div class="my-3">&nbsp;</div>
<app-paging class="card footer-absolute" [entityList]="this"/>
