<app-popup (closed)="onPopupClosed()"></app-popup>
<app-searchfield [thisEntity]="entityType" [(searchEntity)]="searchEntityType" [(pageSize)]="pageSize"
                 [(searchString)]="searchText" [(filterString)]="filterText"/>
<app-paging [entityList]="this"/>

<div class="card my-3">
  <app-list-header [title]="listTitle" [lastSearchPerformance]="lastSearchPerformance"></app-list-header>
  <table class="table table-bordered table-striped table-hover table-sm my-0" id="entity-list">
    <thead class="thead-dark">
      <tr *ngComponentOutlet="getTableHeaderComponent(); inputs: {'entityList': this}"></tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let entity of getEntities()">
        <tr *ngComponentOutlet="getTableRowComponent();
          inputs: {'entityList': this, 'entity': entity, 'hidden': isEntityFiltered(entity)}"></tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="my-3">&nbsp;</div>
<app-paging class="card footer-absolute" [entityList]="this"/>
