a {
  cursor: pointer;
}

div.card {
  overflow: hidden;
}

table tr > * {
  vertical-align: top;
}

th.albumart, td.albumart {
  text-align: center;
  width: 180px;
  height: 160px;
}

td.albumart img {
  width: 180px;
}

th.col-long, td.col-long {
  width: 20%;
  max-width: 200px;
  overflow: hidden;
}

td.placeholder {
  height: 2em;
  text-align: center;
  display: table-cell;
}

.text-right {
  text-align: right;
}

.footer-absolute {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 0.05em;
  background-color: white;
}
