div.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.flex > * {
  padding: 10px 0 10px 10px;
  flex-grow: 1;
}

div.flex > :last-child {
  padding-right: 10px;
}

div.flex div.albumart {
  display: flex;
  align-items: start;
}

div.flex div.albumart img {
  width: 600px;
  flex-grow: 1;
}

div.flex > .col-second {
  width: 480px;
}
