div.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.flex > * {
  padding: 10px 0 10px 10px;
  flex-grow: 1;
}

div.flex > :last-child {
  padding-right: 10px;
}

div.flex img.albumart {
  width: 600px;
  height: auto;
  flex-grow: 0;
}

div.flex > .col-second {
  width: 480px;
}
